# System files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local config if needed (but keep in mind GitHub Pages needs it if you deploy directly)
# config.js
